CREATE DATABASE IF NOT EXISTS wordpress;
CREATE USER IF NOT EXISTS 'wordpress' IDENTIFIED BY 'WORDPRESS_PASSWORD';
GRANT ALL PRIVILEGES ON wordpress.* TO 'wordpress';

CREATE USER IF NOT EXISTS 'admin' IDENTIFIED BY 'ADMIN_PASSWORD';
GRANT ALL PRIVILEGES ON *.* TO 'admin' WITH GRANT OPTION;

FLUSH PRIVILEGES;
SHUTDOWN;
